.headline {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.1rem;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 80px;
  margin-bottom: 72px;
}
